:root {
  /* LIGHT THEME */
  --bg-light: #FFFFFF;
  --second-bg-light: #eceff3;

  /* DARK THEME */
  --bg-dark: #000000;
  --main-dark: #1c1c1c;
  --second-bg-dark: #141414;

  /* TEXT */
  --text-light: #ffffff;
  --text-dark: #000000;
}