:root {
  --bg-color: #FFFFFF;
  --second-bg-color: #DADADA;
  --text-color: #000000;
  --main-color: #000000;
  --btn-color: #FFFFFF;
}

.dark-theme {
  --bg-color: #1F242D;
  --second-bg-color: #323946;
  --text-color: #FFFFFF;
  --main-color: #0EF;
  --btn-color: #000000;
}