@import url('colors.css');

/* BUTTON */
.btn {
    display: inline-block;
    padding: 0.75rem 2.5rem;
    background: var(--bg-dark);
    color: var(--text-light);
    border: 2px solid var(--text-dark);
    border-radius: .5rem;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
}

.btn:hover {
    background: #333333;
    border: 2px solid #333333;
    color: var(--text-light);
}

/* BUTTON Download CV */
.btn-download-cv {
    display: inline-block;
    padding: 0.75rem 2.5rem;
    background: var(--bg-white);
    color: var(--text-dark);
    border: 2px solid var(--text-dark);
    border-radius: .5rem;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
}

.btn-download-cv:hover {
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px rgba(0, 0, 0, 0.133),
        4px 4px 5px 0px rgba(0, 0, 0, 0.067);
}