@import url('styles.css');
@import url('colors.css');

body {
    background-color: var(--second-bg-light);
}

.termsOfUse h1{
    font-size: 4rem;
    text-align: center;
    margin: 1rem 0 1rem;
}

.termsOfUse h2{
    font-size: 2.6rem;
    margin: 4rem 0 1rem;
}

.termsOfUse p{
    font-size: 2rem;
}

.footer {
    background-color: var(--bg-light);
}