@import url('colors.css');
@import url('text.css');
@import url('components.css');
@import url('responsive.css');

.topbar {
  overflow: hidden;
  position: relative;
  background-color: #000000;
  display: none;
}

.topbar.show {
  display: block;
}

.topbar a {
  color: var(--text-white);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.topbar a.icon {
  background: var(--background-white);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  color: white;
}

.topbar a.icon i {
  font-size: 24px;
}

.topbar ul a:hover {
  background-color: var(--icon-gray);
  color: var(--text-white);
}

.btn-container {
  display: none;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0;
}

/* Show List */
.topbar.show ul {
  display: block;
}

@media screen and (max-width: 1024px) {
  .topbar {
    display: block;
  }

  .navbar ul {
    display: none;
  }

  .topbar.show .btn-container {
    display: flex;
  }
}